<!DOCTYPE html>
<html>
<head>
</head>
<body>

<div style="display: flex; justify-content: center; align-items: center; font-family: Arial, sans-serif; margin-top: 20px; margin-bottom: 20px;">
  <div style="text-align: right;">
    <div style="font-size: 24px; font-weight: bold; color: white; margin-left:20px;">PREWORK BOOTCAMP DATA ANALYTICS</div>
    <div style="font-size: 18px; font-weight: bold; margin-left: 20px;">PRIMER BLOQUE: EJERCICIOS</div>
  </div>
  <div style="text-align: right;">
    <img src="https://d1fdloi71mui9q.cloudfront.net/S8HhvUnnRgmjyhySHtWl_ZQMaRWd21TfV5AsU" width="100" height="100">
  </div>
  <div style="text-align: left;">
    <div style="font-size: 24px; font-weight: bold; color: white; margin-left:20px;">UPGRADE-HUB</div>
    <div style="font-size: 18px; font-weight: bold; margin-left: 20px;">coordinacion.data@bootcamp-upgrade.com</div>
  </div>
</div>

</body>
</html>

### Ejercicio 1: Crear variables de diferentes tipos de datos

Crea variables de los siguientes tipos de datos y asígnales valores:

1. Número entero (int)
2. Número decimal (float)
3. Cadena de caracteres (str)
4. Valor booleano (bool)

In [1]:
edad = 24;
altura = 1.88;
nombre = "Borja";
moreno = True;
print(edad);
print(altura);
print(nombre);
print(moreno);

### Ejercicio 2: Operaciones aritméticas básicas

Dadas las variables `a = 10` y `b = 3`, realiza las siguientes operaciones y guarda los resultados en nuevas variables:

1. Suma
2. Resta
3. Multiplicación
4. División

In [4]:
a = 10;
b = 3;
suma = a+b;
resta = a-b;
multipilicacion = a*b;
division = a/b;
print(suma);
print(resta);
print(multipilicacion);
print(division);

13
7
30
3.3333333333333335

### Ejercicio 3: Listas

Crea una lista de números enteros y realiza las siguientes operaciones:

1. Añade un nuevo elemento al final de la lista.
2. Inserta un elemento en una posición específica de la lista.
3. Elimina un elemento de la lista.
4. Obtiene la longitud de la lista.
5. Accede a un elemento específico de la lista utilizando su índice.

In [10]:
lista = [5,8,16,13,7,25,76,54,28];
lista.append(10);
lista.insert(1,34);
lista.remove(5);
print(len(lista));
print(lista);

10
[34, 8, 16, 13, 7, 25, 76, 54, 28, 10]

### Ejercicio 4: Tuplas

Crea una tupla con diferentes tipos de datos (int, float, str, bool) y accede a sus elementos utilizando índices.

In [11]:
tupla = (10, 2.43, "texto", True);
print(tupla[0]);
print(tupla[1]);
print(tupla[2]);
print(tupla[3]);

10
2.43
texto
True

### Ejercicio 5: Diccionarios

Crea un diccionario con al menos tres pares clave-valor y realiza las siguientes operaciones:

1. Accede al valor de una clave específica.
2. Cambia el valor de una clave específica.
3. Agrega un nuevo par clave-valor al diccionario.
4. Elimina un par clave-valor del diccionario.

In [31]:
persona = {
    'nombre': "Borja",
    'edad': 24,
    'altura': 1.75
}
nombre = persona['nombre'];
print(nombre);
persona['nombre'] = "Carlos";
persona['nacionalidad'] = "Española";
del persona['altura'];

for clave, valor in persona.items():
    print(f"{clave}: {valor}")

Borja
nombre: Carlos
edad: 24
nacionalidad: Española

### Ejercicio 6: Operadores de comparación

Dadas las variables `x = 5` e `y = 8`, utiliza operadores de comparación (==, !=, >, <, >=, <=) para comparar sus valores y guarda los resultados en variables booleanas.

In [25]:
x=5;
y=8;
igual = x==y;
diferente = x!=y;
mayor = x>y;
menor = x<y;
mayor_igual = x>=y;
menor_igual = x<=y;

print(igual);
print(diferente);
print(mayor);
print(menor);
print(mayor_igual);
print(menor_igual);

False
True
False
True
False
True

### Ejercicio 7: Conversión de tipos de datos

Practica la conversión de tipos de datos con las siguientes operaciones:

1. Convierte un número entero a float.
2. Convierte un número float a entero.
3. Convierte un número a cadena.
4. Convierte una cadena a número (si la cadena contiene un valor numérico válido).

In [36]:
numero_entero = 13;
numero_float = float(numero_entero);
print(numero_float);
numero_entero_convertido = int(numero_float);
print(numero_entero_convertido);
cadena = str(numero_entero);
print(cadena);

def convertir_a_numero(cadena):
    try:
        numero = float(cadena)
        return numero
    except ValueError:
        return None

cadena = "37.64"
numero = convertir_a_numero(cadena)
if numero is not None:
    print("El número convertido es:", numero)
else:
    print("La cadena no contiene un valor numérico válido.")

13.0
13
13
El número convertido es: 37.64